
<div class="section section-gray-gradient section-cards section-html-psd">
  <div class="container">
    <div class="cloud-wrapper">
      <img src="assets/img/custom/smokeclouds/basic-left-enlarged.png" alt="smoke cloud" />
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 uk-light">
        <h2 class="uk-muted">
          Company Intro<br>
          <small>Speak about who we are</small>
        </h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </h4>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
  				velit esse cillum dolore eu fugiat nulla pariatur.
          <br><br>
        </h4>
      </div>
      <div class="col-md-6">
        <div class="perspective-cards-container" rel="tooltip" title="">
          <img class="perspective-img" src="assets/img/world-distribution.png" height="660px;">
        </div>
      </div>
    </div>
  </div>
</div>
