<div class="section section-gray section-cards section-html-psd section-feature" id="feature-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="card-html-code">
          <div class="front-image" style="width: 380px;background-color:#ffffff;">
            <img src="assets/img/custom/smokeclouds/bad_girl.jpg" style="position:absolute;top:25px;left:20px;">
          </div>
          <div class="back-image scroll-anim fancy-effect the-image" style="width: 80px; background-color:#00bbff;">
            <img src="assets/img/custom/products/two_tanks.png">
          </div>
          <div class="line hidden-xs scroll-anim fancy-effect the-line" style="left: 125px;"></div>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-2" style="background-color:rgba(255,255,255,0.9);opacity:0.9;z-index:3;border-radius:2%;">
        <h2>Feature Section<br><small>Show off and be creative - keep their interest</small></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </h4>
        <h4>Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
        </h4>
      </div>
    </div>
  </div>
</div>
