<div class="section section-gray section-cards section-html-psd section-feature" id="feature-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="uk-grid-med uk-child-width-1-2@m uk-text-center" uk-grid>
          <div>
            <div class="uk-card uk-card-default" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
              <div class="uk-card-media-top">
                <img src="http://localhost/zigs.ws/assets/img/custom/smokeclouds/bad_girl.jpg" alt="">
              </div>
              <div class="uk-card-body uk-text-meta">Bad Girl</div>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
              <div class="uk-card-media-top">
                <img src="http://localhost/zigs.ws/assets/img/custom/people/girl_sitting.jpg" alt="">
              </div>
              <div class="uk-card-body uk-text-meta">Girl Sitting</div>
            </div>
          </div>
          <!--
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="http://localhost/zigs.ws/assets/img/custom/vaping/girl_vaping.jpg" alt="">
              </div>
              <div class="uk-card-body uk-text-meta">Girl Sitting</div>
            </div>
          </div>

          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="http://localhost/zigs.ws/assets/img/custom/vaping/weird_vaping.jpg" alt="">
              </div>
              <div class="uk-card-body uk-text-meta">Girl Sitting</div>
            </div>
          </div>
          -->
        </div>
      </div>

      <div class="col-md-5 col-md-offset-1 uk-light">
        <div class="uk-card uk-card-secondary uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
          <h2>Feature Section<br><small>Show off and be creative - keep their interest</small></h2>
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </h4>
          <h4>Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
