
<div class="section text-center section-gray-gradient section-cards section-html-psd">
  <h2 class="title">What Our Customers Say!</h2>
  <div class="space-70"></div>
  <div class="team container">
    <div class="row">
      <div class="col-md-4">
        <div class="team-player">
          <img src="/zigs.de/assets/img/custom/people/avatar.jpg" alt="Thumbnail Image" class="img-raised img-circle">
          <h4 class="title">Gigi Hadid <br>
            <small class="text-muted">Musician</small>
          </h4>
          <p class="description quote">Person says something nice and really interesting and phrased in a way that doesn't sound like it's made up or anything.</p>
          <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
          <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
          <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-player">
          <img src="assets/img/custom/people/christian.jpg" alt="Thumbnail Image" class="img-raised img-circle">
          <h4 class="title">Christian Louboutin<br>
            <small class="text-muted">Athlete</small>
          </h4>
          <p class="description quote">Person says something nice and really interesting and phrased in a way that doesn't sound like it's made up or anything.</p>
          <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
          <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-player">
          <img src="assets/img/custom/people/kendall.jpg" alt="Thumbnail Image" class="img-raised img-circle">
          <h4 class="title">Kendall Jenner<br>
            <small class="text-muted">Model</small>
          </h4>
          <p class="description quote">Person says something nice and really interesting and phrased in a way that doesn't sound like it's made up or anything.</p>
          <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
          <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
          <a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="space-50"></div>
</div>
