
  <footer>
    <div class="overlayer">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <br>
            <h3 class="txt-black">Thank you for visiting! </h3>
            <p class="txt-black">Do you like this site? We would be glad if you will spread the world.
              <br>Don't forget, you're awesome.</p>
              <br><br>
              <a class="btn btn-round btn-fill btn-social btn-twitter" href="https://twitter.com/share?source=tweetbutton&amp;text='Get Shit Done Pro Kit'&amp;url=http://gsdk.creative-tim.com"><div class="count" href="#">
                <i class="fa fa-twitter fa-fw"></i>
                Tweet
              </div>
              <div class="share"><span></span></div>
            </a>
            <a class="btn btn-round btn-fill btn-social btn-google" href="https://plus.google.com/share?url=http://gsdk.creative-tim.com">
              <div class="count">
                <i class="fa fa-google-plus-square fa-fw"></i>
                Share
              </div>
              <div class="share"><span></span> </div>
            </a>
            <a class="btn btn-round btn-fill btn-social btn-facebook" href="https://www.facebook.com/sharer.php?u=http://gsdk.creative-tim.com">
              <div class="count">
                <i class="fa fa-facebook-square fa-fw"></i> Share
              </div>
              <div class="share"><span></span></div>
            </a>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-4">
            <div class="card text-center">
              <h3>Useful Links</h3>

              <p><a href="https://github.com/timcreative/get-shit-done-pro/issues">Report an Issue</a></p>
              <p><a href="">Licenses</a></p>
              <p><a href="">Terms &amp; Privacy</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
