
<div id="navbar-full">
  <div id="navbar">
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button id="menu-toggle" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand" href="http://zigs.de" style="font-size:40px; font-family:'Grand Hotel',cursive;">
            Zigs
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul  class="nav navbar-nav navbar-right">
            <li>
              <a href="/home">
                Home
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Blog
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-with-icons">
                <li>
                  <a href="/blog-page">
                    <i class="pe-7s-comment"></i> Blog Page
                  </a>
                </li>
                <li>
                  <a href="/blog-post">
                    <i class="pe-7s-news-paper"></i> Blog Post
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Store
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-with-icons">
                <li>
                  <a href="/ecommerce">
                    <i class="pe-7s-ticket"></i> Store Page
                  </a>
                </li>
                <li>
                  <a href="/product-page">
                    <i class="pe-7s-piggy"></i> Product Page
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Example Pages
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-with-icons">
                <li>
                  <a href="components.html">
                    <i class="pe-7s-mail-open-file"></i> Components
                  </a>
                </li>
                <li>
                  <a href="/index.html">
                    <i class="pe-7s-info"></i> Index
                  </a>
                </li>
                <li>
                  <a href="navbar-transparent.html">
                    <i class="pe-7s-cash"></i> Navbar Transparent
                  </a>
                </li>
                <li>
                  <a href="notification.html">
                    <i class="pe-7s-menu"></i> Notification
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="pe-7s-gift"></i> More (soon)
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div><!--  end navbar -->
</div> <!-- end menu-dropdown -->
