<div class="uk-section section-gray-gradient section-cards">
  <div class="uk-container">
    <div class="row">
      <div class="col-md-6">

        <div class="uk-grid-medium uk-child-width-1-3@s uk-flex-center uk-text-center" style="cursor:pointer" uk-grid>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show07.jpg" alt="product 1">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show08.png" alt="product 2">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show09.jpg" alt="product 2">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show01.jpg" alt="product 4">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show02.jpg" alt="product 5">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show03.jpg" alt="product 6">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show10.jpg" alt="product 7">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show05.jpg" alt="product 8">
              </div>
            </div>
          </div>
          <div class="uk-animation-toggle">
            <div class="uk-card uk-card-default uk-animation-scale-up">
              <div class="uk-card-media-top">
                <img src="assets/img/custom/products/product-show06.jpg" alt="product 9">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-md-offset-1 uk-light">
        <div class="space-50"></div>
        <h2>Products Section
          <br><small>Big areas are good</small>
        </h2>

        <h4>Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.</h4>

        <h4>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.<br><br>
          <a href="javascript:void(0)" onclick="showModal(this)" data-target="#content">
            View all Products <i class="fa fa-angle-right"></i>
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>
